@import "reset.css";

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: gainsboro;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

canvas {
  position: absolute;
  top: 20px;
  left: 190px;
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-upload {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weight-upload {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 20px;
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload:hover {
  opacity: 0.85;
}
